# dotenv environment variables file
.env
.env.test

# Yarn Integrity file
.yarn-integrity

# Serverless directories
.serverless/

### OSX ###
# General
.DS_Store

### Serverless ###
## WARNING: DO NOT DELETE ##
.serverless
## WARNING: DO NOT DELETE ##

node_modules

## VSCode
.vscode

# Miscellaneous
/cache/
out
yarn-error.log
broadcast
bin