# dotenv environment variables file
.env
.env.test

# Yarn Integrity file
.yarn-integrity

# Serverless directories
.serverless/

### OSX ###
# General
.DS_Store

### Serverless ###
# Ignore build directory
.serverless